.catalog {
  padding-top: 32px;
}

.catalog__list {
  list-style: none;
}

.catalog__show-more {
  padding-top: 27px;
  padding-bottom: 25px;
}

.catalog__promo {
  margin-top: 39px;
  margin-bottom: 35px;
}
