.catalog {
  border: 1px solid $border-light;
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.catalog__promo {
  margin-top: 39px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .catalog {
    border: none;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    margin-top: 140px;
  }

  .catalog__show-more {
    margin-top: 142px;
  }
}
