.introduction-block {
  padding-top: 29px;
  padding-bottom: 22px;

  background-image: url("/img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.introduction-block__slogan {
  color: $white;
  font-size: 14px;
  line-height: 14px;
}
