.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main--index {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.page-main__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__wrapper--catalog {
  width: 320px;
  display: block;
}

.page-main__title {
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  font-weight: normal;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
  }

  .page-main--index {
    background-image: none;
  }

  .page-main__title {
    font-size: 60px;
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 26px;
  }

  .page-main__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    width: 1220px;
    align-items: flex-start;
  }
}
