.page-main {
  padding-top: 20px;
  width: 280px;
  margin: 0 auto;
}

.page-main__title {
  font-size: 36px;
  line-height: 60px;
}

.page-main__title--white {
  color: $white;
  margin-top: -5px;
}
