.show-more {
  padding-top: 63px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid $border-light;
  box-sizing: border-box;
}

.show-more__title {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 3px;
}

.show-more__slogan {
  @include arial;
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .show-more {
    padding-top: 163px;
    padding-bottom: 40px;
    width: 324px;
    border: 1px solid $border-light;
  }

  .show-more__title {
    font-size: 20px;
    width: 145px;
    margin: 0 auto;
    padding-bottom: 23px;
  }

  .show-more__slogan {
    display: block;
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 21px;
  }

  .show-more__button {
    margin-top: 82px;
  }
}
