$green: #68b738;
$light-grey: #f2f2f2;
$grey: #666666;
$form-grey: #767676;
$btn-grey: #444444;
$black: #111111;
$white: #ffffff;
$pink: #ff8282;
$border-dark: #d9d9d9;
$border-light: #ededed;
$border-character: #cdcdcd;
$dark-grey: #222222;
$tablet-width: 768px;
$desktop-width: 1300px;
